# An sample config to build an RPi image supporting microServiceBus and
# firmware update using RAUC

CONF_VERSION = "1"

# Default to build for RPi 3
MACHINE ?= "raspberrypi3"

# Use poky as distro
DISTRO ?= "poky"

# Create an rpi-sdimg for writing to SD-Card
IMAGE_FSTYPES = "tar.bz2 ext4 rpi-sdimg"

# Use ext4 as rootfs as that is supported by RAUC
SDIMG_ROOTFS_TYPE = "ext4"

# Set systemd as init and daemon manager
DISTRO_FEATURES_append = " systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED += "sysvinit"
VIRTUAL-RUNTIME_init_manager = "systemd"
VIRTUAL-RUNTIME_initscripts = "systemd-compat-units"

# Debian package format for packages
PACKAGE_CLASSES ?= "package_deb"

# Uncomment debug-tweaks below to add support for blank root password
#EXTRA_IMAGE_FEATURES += " debug-tweaks"

# Some default Yocto settings
USER_CLASSES ?= "buildstats image-mklibs image-prelink"

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

PACKAGECONFIG_append_pn-qemu-native = " sdl"

PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"

# Use U-Boot as bootloader to support RAUC firmware updates
RPI_USE_U_BOOT = "1"

# Set serial console
SERIAL_CONSOLE = ""

# Specify user for microservicebus-node
MSB_NODE_USER = "msb"
MSB_NODE_GROUP = "msb"
MSB_NODE_ARG = "-w"

# Specify home directory for msb user.
MSB_HOME_DIR_PATH = "/data/home/${MSB_NODE_USER}"

# Specify default SSID and password for WiFi
RPI_WIFI_SSID = "SSID"
RPI_WIFI_PSK = "PASSW"

# Uncomment setting below to add support for Azure IoT-Edge
#DISTRO_FEATURES_append = " virtualization"

# Workaround as IoT-Edge not support latest rust version in meta-rust
#PREFERRED_VERSION_rust = "1.34.2"
#PREFERRED_VERSION_rust-native = "1.34.2"
#PREFERRED_VERSION_cargo = "1.34.2"
#PREFERRED_VERSION_cargo-native = "1.34.2"
#PREFERRED_VERSION_libstd-rs = "1.34.2"
#PREFERRED_VERSION_rust-cross = "1.34.2"
#PREFERRED_VERSION_rust-llvm = "1.34.2"
#PREFERRED_VERSION_rust-llvm-native = "1.34.2"

