[Unit]
Description=MicroServiceBus as a Service

[Service]
ExecStart=/usr/bin/node /usr/lib/node_modules/microservicebus-node/start.js -w -env dev.microservicebus.com --beta 
WorkingDirectory=/usr/lib/node_modules/microservicebus-node
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin:/bin/:/usr/local/sbin:/user/sbin:/sbin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target