[Unit]
Description=MicroServiceBus DAM as a Service

[Service]
ExecStart=/usr/bin/node /usr/lib/node/microservicebus-dam/main.js service
WorkingDirectory=/usr/lib/node/microservicebus-dam
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dam
User=root
Group=msbdam
Environment=PATH=/usr/bin:/usr/local/bin:/bin/:/usr/local/sbin:/usr/sbin:/sbin
Environment=NODE_ENV=production
Environment=MSB_PLATFORM=YOCTO
Environment=DAM_SOCKET_FOLDER=/var/run/dam/
Environment=DAM_MSB_GRANTS_BASE_URI=https://@MSB_NODE_HOST@
[Install]
WantedBy=multi-user.target
