[Unit]
Description=MicroServiceBus as a Service

[Service]
ExecStart=/usr/bin/node /usr/lib/node_modules/microservicebus-node/start.js -w
WorkingDirectory=/usr/lib/node_modules/microservicebus-node
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin:/bin/:/usr/local/sbin:/usr/sbin:/sbin
Environment=NODE_ENV=production
Environment=MSB_PLATFORM=YOCTO
Environment=DAM_SOCKETPATH=/var/run/dam

[Install]
WantedBy=multi-user.target
